body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
form {
    padding: 1em;
    margin: 0 auto;
    width: 145px;
    border: 1px solid black;
    box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    background: url('./andromeda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

h1 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
input, label, button {
    display: block
}
